      body {
        padding: 25px;
        background-color: #161515;
        color: #EA2900;
        font-size: 25px;
      }
      input.checkbox{
          width : 20px;
    	height : 20px;
      }
      table {
      	font-size: 30px;
      }
      input {
      	font-size: 30px; 
      	width: 100%;
      }
      select {
      	font-size: 30px;
      	width: 100%;
      }
      button {
     	  font-size: 35px;
		  color: red;
		  background-color: #393636 ;
		  text-align: center;
		  text-decoration: none;
		  padding: 14px 0px;
      }
      button:hover {
     	  font-size: 35px;
		  color: #9D0000;
		  background-color: #818181 ;
		  text-align: center;
		  text-decoration: none;
		  padding: 14px 0px;
      }
      button:disabled,
	  button[disabled]{
		  border: 1px solid #393636;
		  background-color: #818181;
		  color: #393636 ;
	  }
      .hspace {
  		width: 100px;
  		height: auto;
  		display: inline-block;
	  }
  	.vspace{
		height: 100px;
		width: auto;
		display: inline-block;
   	}
	.navbar {
	  overflow: hidden;
	  background-color: #333;
	  font-family: Arial, Helvetica, sans-serif;
	}

	.navbar a {
	  float: left;
	  font-size: 16px;
	  color: white;
	  text-align: center;
	  padding: 14px 16px;
	  text-decoration: none;
	}

	.dropdown {
	  float: left;
	  overflow: hidden;
	}

.dropdown .dropbtn {
  cursor: pointer;
  font-size: 30px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
  background-color: red;
}


topnav {
  background-color: #333;
  overflow: hidden;
}

.topnav button {
  float: left;
  color: #8c2222;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav button:hover {
  background-color: #8c2222;
  color: black;
}

topnavbar {
  background-color: #333;
  overflow: hidden;
}

.topnavbar button {
  float: right;
  color: #8c2222;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnavbar button:hover {
  background-color: #8c2222;
  color: black;
}


 button.checkButtons {
	font-size: 25px;
	color: #8c2222;
	background-color: black ;
	text-align: center;
	text-decoration: none;
  }
   button.checkButtons:hover {
	font-size: 25px;
	color: black;
	background-color: #8c2222 ;
	text-align: center;
	text-decoration: none;
  }
.showa {
  background-color: #161515;
  overflow: hidden;
  font-size: 18px;
}

.showa tr {
  color: red;
  background-color: #161515;
}

.checkbar{
	 margin-left:auto;
	 margin-right:auto;
	 width: 100%;
	 border-collapse: collapse;
	 border-spacing: 0;
}

.showa tr:hover {
  background-color: #363434;
}

.bar {
	background-color: #8c2222;
	border-width: 10px 0px 0px 0px;
	border-color: red;
}